:root {
    box-sizing: border-box;
    --page-color: #072238;
    --font-color: white;
}

*,
::after,
::before {
    box-sizing: inherit;
}

html {
    height: 100%;
    background: linear-gradient(rgb(106, 18, 18), rgb(34, 34, 63));
    background-repeat: no-repeat;
    background: -moz-linear-gradient(rgb(106, 18, 18), rgb(34, 34, 63));
    background: -webkit-linear-gradient(rgb(106, 18, 18), rgb(34, 34, 63));
    background-attachment: fixed;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--font-color);
    height: 100%;
}

#portfolio {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 8rem 8rem 8rem 2rem;
    margin-left: 6rem;
    /* border-left: 1px solid white; */
}

@media (max-width: 35em) {
    .introduction {
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem 2rem 1rem;
        margin-left: 1.8rem;
        font-size: 0.8rem;
        /* border-left: 1px solid white; */
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 64em) {
    .introduction {
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem 2rem 1rem;
        margin-left: 1.8rem;
        font-size: 0.9rem;
        /* border-left: 1px solid white; */
    }
}

.introduction__greeting {
    font-weight: normal;
}

.introduction__text {
    font-weight: normal;
    max-width: 31em;
    line-height: 1.8;
}

@media (max-width: 35em) {
    .introduction__text {
        font-weight: normal;
        max-width: 31em;
        line-height: 1.8;
        font-size: 1.3em;
    }
    
}

@media (max-width: 64em) {
    .introduction__text {
        font-weight: normal;
        max-width: 31em;
        line-height: 1.8;
        font-size: 1.4em;
    }
    
}

.name {
    font-weight: bold;
}

.contact-links {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    margin-top: 8em;
    gap: 2em;
    padding-left: 0;
}

.contact-links__resume {
    margin-left: auto;
}

.contact-icon {
    width: 100%;
    height: 2em;
    width: 2em;
}

.resume-section {
    display: flex;
    padding: 2em 10em;
    gap: 2em;
}

@media (max-width: 35em) {
    .resume-section {
        display: flex;
        flex-direction: column;
        padding: 1em 2em 4em 3.6em;
        font-size: 0.8rem;
    }
}

@media (max-width: 64em) {
    .resume-section {
        display: flex;
        flex-direction: column;
        padding: 1em 2em 4em 3.6em;
        font-size: 0.9rem;
    }
}

.resume-section__title {
    flex: 20%;
    text-align: right;
    font-size: 1.4em;
    font-weight: bold;
}

@media (max-width: 35em) {
    .resume-section__title {
        flex: 100%;
        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
    }
}

@media (max-width: 64em) {
    .resume-section__title {
        flex: 100%;
        text-align: left;
        font-size: 1.6em;
        font-weight: bold;
    }
}

.resume-section__text {
    padding-top: 4em;
    margin-left: -2em;
    flex: 80%;
    line-height: 1.69;
}

@media (max-width: 35em) {
    .resume-section__text {
        padding-top: 1em;
        padding-left: 3.3em;
        flex: 100%;
        line-height: 1.69;
        font-size: 1em;
    }
}

@media (max-width: 64em) {
    .resume-section__text {
        padding-top: 1em;
        padding-left: 3.3em;
        flex: 100%;
        line-height: 1.69;
        font-size: 1.1em;
    }
}